{% extends "Articles/DistroLinux_base.html" %}

{% block main-content %}
    {% if not request.user.is_authenticated %}

        {% if messages %}
            {% for message in messages %}
                {% if 'error' in message.tags %}
                    <div class="error-msg-box">
                        <div class="{{ message.tags }}">{{ message }} <text href="#" class="msg-exit-btn">X</text> </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <form method="POST" class="login-form">
            {% csrf_token %}
            <label class="login-form-main-label">Login Form </label>
            {% for field in login_form %}

                <div class="login-form-elem-box">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>

            {% endfor %}
            <button class="login-btn" type="submit">Login</button>
        </form>
    {% else %}
    <div class="logged-in-message-box">
        <label class="logged-in-message">
            Sorry... But you are already logged in. Please log out first to see login form.
        </label>
    </div>
    {% endif %}

{% endblock main-content %}