{% extends "Articles/DistroLinux_base.html" %}
{% load Articles_tags %}

{% block main-content %}
{% for article in current_article %}
<div class="article-box">
<!--    <div class="screen-size"></div>-->
<h1>{{ article.title }}</h1>
<br>
<p class="article-info-box"> {{ article.author }} | {% replace_underlines filter=article.theme %} | {{ article.creation_time|date:"d-m-Y : H:i:s" }}</p>
<br>
<img src="{{ article.image.url }}">
<br>
<p class="article-content-box">{{ article.content | wordwrap:200 | linebreaks }}</p>
<br>
</div>

{% endfor %}
{% endblock main-content %}